html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,p {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav{
	display: block;
}
/*여기까지가 reset*/

@media only screen and (min-width:1920px){
    .notice::before{content:"1920px ~"}
}
@media only screen and (min-width:1440px) and (max-width:1919px){
    .notice::before{content:"1440px ~ 1919px"}
}
@media only screen and (min-width:1280px) and (max-width:1439px){
    .notice::before{content:"1280px ~ 1439px"}
}
@media only screen and (min-width:1024px) and (max-width:1279px){
    .notice::before{content:"1024px ~ 1279px"}
}
@media only screen and (max-width:1023px){
    #global-nav{min-width:320px}
    #global-nav .gn-list{margin-right:inherit;margin-left:inherit}
    #global-nav .gn-content{padding-right:12px;padding-left:12px;padding-left:calc(max(12px, env(safe-area-inset-left)));padding-right:calc(max(12px, env(safe-area-inset-right)));box-sizing:border-box}
    #main .section .section-content{width:100%;padding-right:22px;padding-left:22px;padding-left:calc(max(22px, env(safe-area-inset-left)));padding-right:calc(max(22px, env(safe-area-inset-right)));;box-sizing:border-box}
    #global-footer .gf-content{width:100%}
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .notice::before{content:"768px ~ 1023px"}
    .section{background-color:red}
}
@media only screen and (min-width:586px) and (max-width:767px){
    .notice::before{content:"586px ~ 767px"}
    body{background-color:blue}
}
@media only screen and (min-width:414px) and (max-width:585px){
    .notice::before{content:"414px ~ 585px"}
    #global-nav{background-color:yellow}
}
@media only screen and (min-width:375px) and (max-width:413px){
    .notice::before{content:"375px ~ 413px"}
    #global-nav{background-color:purple}
}
@media only screen and (min-width:320px) and (max-width:374px){
    .notice::before{content:"320px ~ 374px"}
    #global-nav{background-color:green}
}
@media only screen and (max-width:319px){
    .notice::before{content:"~ 319px"}
    #global-nav{background-color:orange}
}

/*css 시작*/

.hide{visibility: hidden;}
/*section 7장나누기*/
#main{position:relative;max-width:2560px;}
#main .section{width:100%;height:3000px;box-sizing:border-box; background-color: #e7e7e7;}
/* #main .section:first-child{height:100vh;padding-top:var(--gn-height)} */
#main .section:nth-child(1){ 
background-color: #e7e7e7;height:640px;}
#main .section:nth-child(2){ 
    background-color: #e7e7e7;height:2300px;}


/*nav*/
#global-nav{position:fixed;display:block;margin-left: 50px;margin-top: 60px;z-index:9999;width:100px;height:40px;}
#global-nav .gn-content{max-width:100px;height:100%;}
#global-nav ul{list-style:none}
#global-nav #gn-list li{/*display:inline-block;*/height:100%;vertical-align:top}
#global-nav #gn-list li a{/*display:inline-block;*/height:40px;color:#000;
font-size:34px; font-weight: bold;line-height:40px}
#global-nav #gn-list li a:hover{color: rgb(0, 81, 255);transition: all ease-in-out .3s;}
#gn_1{text-decoration: underline;}

/*content시작*/
*{margin: 0px; padding: 0px;}
.title{position:absolute;right:0; float:right; width: 885px;
    font-size: 270px; line-height: 150px; margin-top: 180px;
    color:#000;}

/*content2*/
.img_box1{position: absolute; right: 0;z-index: 1;width: 1150px; height: 723px;}
.img_box1 img{width: 100%; height: 100%;}
/*review*/
.review_full{position: absolute; z-index: 2; right: 0;width: 800px;height: 1500px;
margin-top: 600px; margin-right: 160px;background-color: #222}
.demo_text{font-size: 10px; color: rgb(165, 165, 165); margin-bottom: 25px;}
.cotent_full{width: 500px; margin: 0 auto;margin-top: 100px;} 
.cotent_full h3{margin-bottom: 40px; font-size: 25px; color:#fff;}
.cotent_full .r_1{font-size: 17px; font-weight: bold;}
.cotent_full .r_1 p{margin-bottom: 15px; color:#fff;}

.cotent_full .r_2{font-size: 17px; font-weight: bold;}
.cotent_full .r_2 p{margin-bottom: 15px; color:#fff;}

.cotent_full .r_3{font-size: 17px; font-weight: bold;}
.cotent_full .r_3 p{margin-bottom: 15px; color:#fff;}

.cotent_full .r_4{font-size: 17px; font-weight: bold;}
.cotent_full .r_4 p{margin-bottom: 15px; color:#fff;}

.cotent_full .r_5{font-size: 17px; font-weight: bold;}
.cotent_full .r_5 p{margin-bottom: 15px; color:#fff;}

.cotent_full .r_6{font-size: 17px; font-weight: bold;}
.cotent_full .r_6 p{margin-bottom: 15px; color:#fff;}

.cotent_full .r_7{font-size: 17px; font-weight: bold;}
.cotent_full .r_7 p{margin-bottom: 15px; color:#fff;}

.cotent_full .btn1{width: 400px; margin-left: 50px;height: 40px; text-align: center;
background-color: #fff; border: solid 1px #fff; border-radius: 5px; font-weight: bold;
cursor: pointer;}
.cotent_full .btn1:hover{background-color: rgb(196, 196, 196);transition: all ease-in-out .3s;}

#name{width: 500px; height: 40px; margin-bottom: 50px;border:solid 1px rgb(173, 173, 173); border-radius: 3px;}
#enjoy{width: 500px; height: 100px; margin-bottom: 50px;border:solid 1px rgb(173, 173, 173); border-radius: 3px;}
/* #age{width: 500px; height: 40px; border:solid 1px rgb(173, 173, 173); border-radius: 3px;}
#phone{width: 500px; height: 40px; border:solid 1px rgb(173, 173, 173); border-radius: 3px;}
#route{width: 500px; height: 40px; border:solid 1px rgb(173, 173, 173); border-radius: 3px;}
#understand{width: 500px; height: 40px; border:solid 1px rgb(173, 173, 173); border-radius: 3px;}
#impro{width: 500px; height: 40px; border:solid 1px rgb(173, 173, 173); border-radius: 3px;}
#enjoy{width: 500px; height: 40px; border:solid 1px rgb(173, 173, 173); border-radius: 3px;} */