html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,p {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav{
	display: block;
}
/*여기까지가 reset*/

@media only screen and (min-width:1920px){
    .notice::before{content:"1920px ~"}
}
@media only screen and (min-width:1440px) and (max-width:1919px){
    .notice::before{content:"1440px ~ 1919px"}
}
@media only screen and (min-width:1280px) and (max-width:1439px){
    .notice::before{content:"1280px ~ 1439px"}
}
@media only screen and (min-width:1024px) and (max-width:1279px){
    .notice::before{content:"1024px ~ 1279px"}
}
@media only screen and (max-width:1023px){
    #global-nav{min-width:320px}
    #global-nav .gn-list{margin-right:inherit;margin-left:inherit}
    #global-nav .gn-content{padding-right:12px;padding-left:12px;padding-left:calc(max(12px, env(safe-area-inset-left)));padding-right:calc(max(12px, env(safe-area-inset-right)));box-sizing:border-box}
    #main .section .section-content{width:100%;padding-right:22px;padding-left:22px;padding-left:calc(max(22px, env(safe-area-inset-left)));padding-right:calc(max(22px, env(safe-area-inset-right)));;box-sizing:border-box}
    #global-footer .gf-content{width:100%}
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .notice::before{content:"768px ~ 1023px"}
    .section{background-color:red}
}
@media only screen and (min-width:586px) and (max-width:767px){
    .notice::before{content:"586px ~ 767px"}
    body{background-color:blue}
}
@media only screen and (min-width:414px) and (max-width:585px){
    .notice::before{content:"414px ~ 585px"}
    #global-nav{background-color:yellow}
}
@media only screen and (min-width:375px) and (max-width:413px){
    .notice::before{content:"375px ~ 413px"}
    #global-nav{background-color:purple}
}
@media only screen and (min-width:320px) and (max-width:374px){
    .notice::before{content:"320px ~ 374px"}
    #global-nav{background-color:green}
}
@media only screen and (max-width:319px){
    .notice::before{content:"~ 319px"}
    #global-nav{background-color:orange}
}
/*여기까지 media쿼리*/

/*css 시작*/

.hide{visibility: hidden;}
/*section 7장나누기*/
#main{position:relative;max-width:2560px;}
#section{width:100%;height:100vh;box-sizing:border-box}
#main .section{width:100%;height:100vh;box-sizing:border-box}
#main .section:first-child{height:100vh;/*padding-top:var(--gn-height)*/}
#main .section:nth-child(1){ 
background-image: url(../images/blue.jpg);
background-size: 100%;
background-repeat: no-repeat;} 
#main .section:nth-child(2){background-color: #f1f1f1;}
#main .section:nth-child(3){background-color: #e7e7e7;}
#main .section:nth-child(4){background-color: #e7e7e7;}
#main .section:nth-child(5){background-color: #e7e7e7;}
#main .section:nth-child(6){background-color: #e7e7e7;}
#main #section:nth-child(7){background-color: #e7e7e7;}
#main .section:nth-child(8){background-color: #e7e7e7;}
/*section 끝*/

/*nav*/
#global-nav{position:fixed;display:block;margin-left: 50px;margin-top: 60px;z-index:9999;width:100px;height:40px;}
#global-nav .gn-content{max-width:100px;height:100%;}
#global-nav ul{list-style:none}
#global-nav .gn-list li{display:inline-block;height:100%;vertical-align:top}
#global-nav .gn-list li a{display:inline-block;height:40px;color:#000;
font-size:34px; font-weight: bold;line-height:40px}
#global-nav .gn-list li a:hover{color: rgb(0, 81, 255);transition: all ease-in-out .3s;}

h2{float:left; width: 100px;}
/*section 1*/
h1{position:absolute; top:0; right:0; float:right; width: 1230px; margin-top:20px;
font-size: 160px; height:150px; line-height: 150px; font-weight: bolder;
color:#000;}
.m_point{color:rgb(0, 81, 255)}
.text1{float:left;width:500px; height:28px;line-height:28px; margin-top: 480px;
margin-left: 300px;font-family: 'Kosugi', sans-serif; color:#fff;}
.text1 h3{font-size:30px;}
.text1 p{font-size: 15px; font-weight: bold;}
.text1-1{float: right; width: 500px; height:15px; line-height:15px; 
margin-top: 640px; padding-left: 30px;font-family: 'Kosugi', sans-serif; font-size:14px;
font-weight: bold; color:rgb(54, 54, 54);}
.day{font-family: Arial, Helvetica, sans-serif; }

/*section 2*/
.img_box2{float:right; width: 1200px; height:860px;margin-top: 300px;}
.img_box2 img{width: 100%; height: 100%;}
.text2{position: absolute; right:0; margin-right: 400px; margin-top: 200px;width: 700px;
height:115px; line-height:115px; font-size: 150px;}
.text2-1{position: absolute; left:0; width: 400px;height:30px; line-height:30px;
font-size: 20px; margin-top: 950px; margin-left: 380px; color: #fff;}
.text2-1:hover{color: rgb(0, 81, 255);transition: all ease-in-out .3s;}

/*section 3 스킵*/

/*section 4*/
.text3{position: absolute; z-index:2;left:0; margin-left: 315px;width: 1000px;
height:100px; line-height:100px; font-size: 120px; color: #fff;}
.text3:hover{color: rgb(0, 81, 255);transition: all ease-in-out .3s;}
.img_box3{position: absolute;z-index: 1;width: 100%; height: 620px; margin-top: 120px;}
.img_box3 img{width: 100%; height: 100%;}
.text_box3{
  position: absolute;z-index:2;right:0px;margin-top:660px; margin-right: 100px;
  width: 600px; height: 100px; background-color: rgb(29, 18, 18);
}
.text_cotent{width: 400px; height: 70px; margin: 0 auto; margin-top: 15px;}
.memo_3{padding-top: 25px; box-sizing: border-box;}
.memo_3 ul{list-style: none; text-align: center;}
.text_cotent .memo_3 ul li{margin-right: 85px; color:#fff;display: inline;}
.text_cotent .memo_3 ul li:nth-child(3){margin: 0px;}
/*section 5*/
.text5{position: absolute; z-index:2;left:0; margin-left: 300px; margin-top:40px;width: 600px;
height:100px; line-height:70px; font-size: 70px;color: #fff; text-decoration-line:underline;}
.text5:hover{color: #000;transition: all ease-in-out .3s;}
.img_box5{position: absolute;z-index:1;float:left; width: 600px; height: 450px; margin-left:220px; margin-top: 150px;}
.img_box5 img{width: 100%; height: 100%;}
.text_box5{
  position: absolute;z-index:2;left:0px;margin-top:550px; margin-left: 420px;
  width: 400px; height: 100px; background-color: rgb(29, 18, 18);
}
.text_cotent5{width: 400px; height: 70px; margin: 0 auto; margin-top: 15px;}
.memo_5{padding-top: 25px; box-sizing: border-box;}
.memo_5 ul{list-style: none; text-align: center;}
.text_cotent5 .memo_5 ul li{margin-right: 45px; color:#fff;display: inline;}
.text_cotent5 .memo_5 ul li:nth-child(3){margin: 0px;}

.text5-1{position: absolute; right:0;  margin-top: 420px; margin-right:50px; width: 480px;
height:100px; line-height:60px; font-size: 70px; color: #fff;text-decoration-line:underline;}
.text5-1:hover{color: #000;transition: all ease-in-out .3s;}
.img_box5-1{float:right;width: 600px; height: 450px; margin-top: 450px;}
.img_box5-1 img{width: 100%; height: 100%;}
.text_box5-1{
  position: absolute;z-index:2;right:0px;margin-top:850px; margin-left: 420px;
  width: 400px; height: 100px; background-color: rgb(29, 18, 18);
}
.text_cotent5-1{width: 400px; height: 70px; margin: 0 auto; margin-top: 15px;}
.memo_5-1{padding-top: 25px; box-sizing: border-box;}
.memo_5-1 ul{list-style: none; text-align: center;}
.text_cotent5-1 .memo_5-1 ul li{margin-right: 45px; color:#fff;display: inline;}
.text_cotent5-1 .memo_5-1 ul li:nth-child(3){margin: 0px;}

/*section 6*/
.text6{position: absolute; left:0; margin-left: 300px; margin-top:50px;width: 600px;
height:100px; line-height:70px; font-size: 70px;color: #fff; text-decoration-line:underline;}
.text6:hover{color: #000;transition: all ease-in-out .3s;}
.img_box6{float:left; width: 600px; height: 450px; margin-left:220px; margin-top: 90px;}
.img_box6 img{width: 100%; height: 100%;}
.text_box6{
  position: absolute;z-index:2;left:0px;margin-top:490px; margin-left: 420px;
  width: 400px; height: 100px; background-color: rgb(29, 18, 18);
}
.text_cotent6{width: 400px; height: 70px; margin: 0 auto; margin-top: 15px;}
.memo_6{padding-top: 25px; box-sizing: border-box;}
.memo_6 ul{list-style: none; text-align: center;}
.text_cotent6 .memo_6 ul li{margin-right: 45px; color:#fff;display: inline;}
.text_cotent6 .memo_6 ul li:nth-child(3){margin: 0px;}

.text6-1{position: absolute; right:0;  margin-top: 275px; margin-right:50px; width: 480px;
height:100px; line-height:70px; font-size: 70px; color: #fff;text-decoration-line:underline;}
.text6-1:hover{color: #000;transition: all ease-in-out .3s;}
.img_box6-1{float:right;width: 600px; height: 450px; margin-top: 240px;}
.img_box6-1 img{width: 100%; height: 100%;}
.text_box6-1{
  position: absolute;z-index:2;right:0px;margin-top:780px; margin-left: 420px;
  width: 400px; height: 100px; background-color: rgb(29, 18, 18);
}
.text_cotent6-1{width: 400px; height: 70px; margin: 0 auto; margin-top: 15px;}
.memo_6-1{padding-top: 25px; box-sizing: border-box;}
.memo_6-1 ul{list-style: none; text-align: center;}
.text_cotent6-1 .memo_6-1 ul li{margin-right: 45px; color:#fff;display: inline;}
.text_cotent6-1 .memo_6-1 ul li:nth-child(3){margin: 0px;}


/*section 7*/
.text7{position: absolute; left:0; width: 600px;height: 100px;
line-height: 100px;margin-left: 450px; padding-top: 310px; font-size: 130px; }
.text7 a{color: #000;}
.text7 a:hover{color: blue;transition: all ease-in-out .3s;}
.heart_btn{width: 50px; margin: 0 auto; height: 50px; margin-top: 150px;}
.heart_btn img{width: 100%; height: 100%;}

/*slider*/
html, body {
    margin: 0;
    padding: 0;
    
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 100%;
      padding-top: 250px;
  }

  .slick-slide {
    margin: 0px 5px;
  }

  .slick-slide img {
    width: 280px;
    height: 200px;
  }

  .img_box{width: 300px; height: 150px;}
  .img_box img{width: 100%; height: 100%;}

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .2s;
    opacity: .2;
  }

  .slick-active {
    opacity: .2;
  }

  .slick-current {
    opacity: 1;
  }
  /*마우스커서*/
#cursor-dot,#cursor-bg,#progress{overflow:hidden;position:fixed;top:50%;left:50%;box-sizing:border-box;transform:translateX(-50%) translateY(-50%);pointer-events:none}
#cursor-dot{z-index:600;width:4px;height:4px;border-radius:50%;background-color:#f00;transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out}
#cursor-dot.active{width:8px;height:8px;background-color:#fff}
#cursor-bg{z-index:400;width:30px;height:30px;border:1px solid #fff;border-radius:50%;transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out,border-color 200ms ease-in-out}
#progress{z-index:500;color:#fff;width:30px;height:30px;border-radius:50%;transition:width 200ms ease-in-out}
/* #cursor-bg.active{width:60px;height:60px;background-color:#fff;border-color:#fff;mix-blend-mode:difference} */
#cursor-bg.active{width:60px;height:60px;background-color:rgba(255,0,0,0.8);border-color:rgba(255,0,0,0.8);mix-blend-mode:saturation}
#progress.active{width:60px;height:60px}
#progress span{display:block;position:absolute;top:50%;left:50%;text-align:center;transform:translateX(-50%) translateY(-50%)}
#progress.active span::after{content:'select';text-transform:uppercase;font-size:10px;line-height:16px;opacity:0;transition:opacity 200ms ease-in-out}
#progress.active span::after{opacity:1.0}

/*button top*/
#btn-top{position:fixed;right:20px;bottom:20px;width:40px;height:46px;border-radius:4px;
text-align:center;/*box-shadow:0 1px 2px #f8f8f8*/}
#btn-top span:hover{color: #000;transition:color 300ms ease-in-out;}
#btn-top span{display:inline-block;position:relative;margin-top:8px;padding-top:10px;
vertical-align:top;text-transform:uppercase;color:rgb(0, 81, 255);font-size:14px;font-weight:700;
line-height:20px}
